body {
  background-image: url('./imgs/background-bendra.jpeg');
}

.App {
  background-image: url('./imgs/background-bendra.jpeg');
}

section {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

footer {
  margin-top: 55px;
  bottom: 0;
}

.contact-div {
  display: flex;
  flex-direction: column;
}

.logo-img {
  width: 100px;
  height: 100px;
}

.App-header {
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: rgba(10, 21, 128, 0.842);
}

.App-header div{
  display: flex;
  align-self: center;
}

.App-header input{
  border-radius: 20px;
  height: 30px;
  width: 500px;
  text-align: center;
}

.App-header button{
  border-radius: 20px;
  height: 21px;
  width: 100px;
}

.product-description {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.product-images .btns {
  border-radius: 50px;
  width: 20px;
  height: 20px;
}

.product-images {
  color: white;
}

.product-images img {
  width: 600px;
  height: 700px;
}

.product-images button {
  border-radius: 20px;
  width: 40px;
  height: 40px;
}

.product-description {
  color: white;
  text-align: center;
  border-radius: 20px;
  padding: 50px 50px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.9);
}

.product-description h1 {
  font-size: 50px;
}

.product-images div {
  display: flex;
  justify-content: space-around;
}

.product-images .quantity-container {
  display: flex;
  justify-content: center;
}

.product-images p {
  text-align: center;
}

.valor-text {
  font-weight: bold;
  font-size: 50px;

}